<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Panth_SmartBadge::group"
             title="Smart Badges"
             module="Panth_SmartBadge"
             sortOrder="45"
             parent="Panth_Core::panth_extensions"
             resource="Panth_SmartBadge::rule"/>
        <add id="Panth_SmartBadge::badge_rules"
             title="Manage Badges"
             module="Panth_SmartBadge"
             sortOrder="10"
             parent="Panth_SmartBadge::group"
             action="smartbadge/rule/index"
             resource="Panth_SmartBadge::rule"/>
        <add id="Panth_SmartBadge::settings"
             title="Configuration"
             module="Panth_SmartBadge"
             sortOrder="99"
             parent="Panth_SmartBadge::group"
             action="adminhtml/system_config/edit/section/smart_badge"
             resource="Panth_SmartBadge::config"/>
    </menu>
</config>
